* {
    margin: 0px;
    padding: 0px;
}
.main {
    background-color: crimson;
    background-size: contain;
    width: 100%;
    height: 100%;
    vertical-align: top;
    padding: 25px;;
}
.header {
    width: 100%;
    height: 100px;
    background-color: darkviolet;
    color: rgb(255, 95, 180);
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
button {
    width: 100px;
    background-color: darkred;
    color: darksalmon;
    padding: 25px;
    font-size: larger;
}
button + button {
    margin-top: 10px;
}